<p-toast />
<p-confirmDialog />
<div class="d-flex align-items justify-content-space-between">
    <div>
        <h1>Categorias</h1>
    </div>
    <div>
        <p-button
            icon="pi pi-check"
            iconPos="left"
            label="Nova categoria"
            styleClass="p-button-success"
            routerLink="/admin/categories/add"
        ></p-button>
    </div>
</div>
<hr />
<div>
    <p-table styleClass="min-w-50" [value]="categories">
        <ng-template pTemplate="header">
            <tr>
                <th>UID</th>
                <th>Nome</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>{{ category.uid }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        iconPos="left"
                        styleClass="p-button-warning mr-05"
                        routerLink="/admin/categories/edit"
                        [queryParams]="{ uid: category.uid }"
                    ></p-button>
                    <p-button
                        icon="pi pi-trash"
                        iconPos="left"
                        styleClass="p-button-danger"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<ngx-spinner type="ball-scale-multiple" class="white-color">
    Carregando...
</ngx-spinner>
