<p-toast />
<div class="d-flex align-items justify-content-space-between">
    <div>
        <h1>Cadastro de Usuários</h1>
    </div>
    <div>
        <p-button
            icon="pi pi-arrow-left"
            iconPos="left"
            label="Voltar"
            styleClass="p-button-secondary"
            routerLink="/admin/users"
        ></p-button>
    </div>
</div>
<hr />
<div class="min-w-50">
    <div class="row">
        <div class="w-49">
            <label for="username">Nome</label>
            <input
                id="username"
                class="w-100"
                pInputText
                [(ngModel)]="user.name"
            />
        </div>
        <div class="w-49">
            <label for="email">E-mail</label>
            <input
                id="email"
                class="w-100"
                pInputText
                [(ngModel)]="user.email"
            />
        </div>
    </div>
    <div class="row mt-1">
        <div class="w-49">
            <label for="username">Nome</label>
            <input
                id="username"
                class="w-100"
                pInputText
                [(ngModel)]="user.name"
            />
        </div>
        <div class="w-49">
            <label for="email">E-mail</label>
            <input
                id="email"
                class="w-100"
                pInputText
                [(ngModel)]="user.email"
            />
        </div>
    </div>
    <div class="row mt-1">
        <div class="w-49">
            <label for="username">Nome</label>
            <input
                id="username"
                class="w-100"
                pInputText
                [(ngModel)]="user.name"
            />
        </div>
        <div class="w-49">
            <label for="email">E-mail</label>
            <input
                id="email"
                class="w-100"
                pInputText
                [(ngModel)]="user.email"
            />
        </div>
    </div>
</div>
