<p-toast />
<div class="d-flex align-items justify-content-space-between">
    <div>
        <h1>{{ asset.uid ? "Atualização" : "Cadatro" }} de Ativo</h1>
    </div>
    <div>
        <p-button
            icon="pi pi-arrow-left"
            iconPos="left"
            label="Voltar"
            styleClass="p-button-secondary"
            routerLink="/admin/assets"
        ></p-button>
    </div>
</div>
<hr />
<div class="min-w-50">
    <div class="row">
        <div class="w-49">
            <label for="name">Nome</label>
            <input
                id="name"
                class="w-100"
                placeholder="Digite nome do ativo..."
                pInputText
                [(ngModel)]="asset.name"
            />
        </div>
        <div class="w-49">
            <label for="description">Descrição</label>
            <input
                id="description"
                class="w-100"
                placeholder="Digite a descrição do ativo..."
                pInputText
                [(ngModel)]="asset.description"
            />
        </div>
    </div>
</div>
